<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>add_file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>contact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>file_browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>post_editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>update_post.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B8A5A261CDB660A000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8A5A3E1CDE6E6D000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8A5A4B1CDF5BA7000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8A5A591CDF7E67000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8A5A671CDFC3C6000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8A5A8D1CE26AC4000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8A5A9C1CE3A81C000D0AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
